@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBQBdCnd";
  src: url("../../fonts/AkzidenzGroteskBQBdCnd.eot");
  src: local("☺"), url("../../fonts/AkzidenzGroteskBQBdCnd.woff") format("woff"), url("../../fonts/AkzidenzGroteskBQBdCnd.ttf") format("truetype"), url("../../fonts/AkzidenzGroteskBQBdCnd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasRegular.eot;");
  src: local("☺"), url("../../fonts/BebasRegular.woff") format("woff"), url("../../fonts/BebasRegular.ttf") format("truetype"), url("../../fonts/BebasRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  /* &.loaded{} */
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

header {
  padding: 29px 0 33px;
  background-color: #fff;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header-top-lang__item {
  display: block;
  line-height: 20px;
  color: #000;
  font-family: Bebas;
  letter-spacing: 0.1em;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0 4px;
  margin: 0 10px 0 0;
}
.header-top-lang__item.active {
  color: #fff;
  background-color: #000;
}
.header-top__link {
  font-family: AkzidenzGroteskBQBdCnd;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -13px;
}
.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-bottom-menu-link {
  font-family: "AkzidenzGroteskBQBdCnd";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.header-logo {
  display: block;
  text-align: center;
}
.header-logo__text {
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #000000;
  letter-spacing: 0.34em;
  font-family: Bebas;
}
.header-logo__img {
  margin: 14px 0 23px;
}

.btn {
  height: 50px;
  display: inline-block;
  font-family: Bebas;
  font-size: 15px;
  line-height: 50px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #000;
}
.btn--w {
  color: #000;
  background-color: #fff;
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #000;
}

.private__image {
  background: url(/img/block_1/01.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.private-body {
  padding: 75px 0 75px 60px;
}

.private-body-content {
  max-width: 305px;
}

.private-body__title {
  font-family: AkzidenzGroteskBQBdCnd;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0 0 30px 0;
}

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 50px 0;
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.private-body-buttons__link {
  font-family: Bebas;
  font-size: 15px;
  line-height: 50px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fffffe;
  margin: 0 0 0 15px;
}