//====================================================================================================
header {
	padding: 29px 0 33px;
	background-color: #fff;
}
//====================================================================================================
.header-top {
	@include flexbox();
	justify-content: space-between;
}
.header-top-lang {
	@include flexbox();
}
.header-top-lang__item {
	display: block;
	line-height: 20px;
	color: #000;
	font-family: Bebas;
	letter-spacing: 0.1em;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 4px;
	margin: 0 10px 0 0;
	&.active {
		color: #fff;
		background-color: #000;
	}
	&__item {
	}
}
.header-top__link {
	font-family: AkzidenzGroteskBQBdCnd;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: underline;
}

.header-bottom {
	@include flexbox();
	align-items: center;
	margin-top: -13px;
	&__column {
		flex: 0 0 33.333%;
	}
}
.header-bottom-menu {
}
.header-bottom-menu-list {
	@include flexbox();
	justify-content: space-between;
	li {
	}
}
.header-bottom-menu-link {
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #000000;
}
.header-logo {
	display: block;
	text-align: center;
	&__text {
		display: block;
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 1em;
		color: #000000;
		letter-spacing: 0.34em;
		font-family: Bebas;
	}

	&__img {
		margin: 14px 0 23px;
	}
}

@media (max-width: $md2+px) {
	.header-menu__icon {
		display: block;
		position: absolute;
		top: 18px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			@include anim(0.3s, 0s);
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				@include scale(0);
				&:first-child {
					@include rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					@include rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
