//====================================================================================================
header {
	padding: 29px 0 33px;
	background-color: #fff;
}
//====================================================================================================
.header-top {
	@include flexbox();
	justify-content: space-between;
}
.header-top-lang {
	@include flexbox();
}
.header-top-lang__item {
	display: block;
	line-height: 20px;
	color: #000;
	font-family: Bebas;
	letter-spacing: 0.1em;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 4px;
	margin: 0 10px 0 0;
	&.active {
		color: #fff;
		background-color: #000;
	}
}
.header-top__link {
	font-family: AkzidenzGroteskBQBdCnd;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: underline;
}

.header-bottom {
	@include flexbox();
	align-items: center;
	margin-top: -13px;
	&__column {
		flex: 0 0 33.333%;
	}
}
.header-bottom-menu-list {
	@include flexbox();
	justify-content: space-between;
}
.header-bottom-menu-link {
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #000000;
	position: relative;
	overflow: hidden;
	line-height: 25px;
	display: inline-block;
}
/* ------------ */
.header-bottom-menu-link:before,
.header-bottom-menu-link:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
}
.header-bottom-menu-link:before {
	border-bottom: 2px solid #000;
	left: -100%;
}
.header-bottom-menu-link:after {
	left: 0;
	bottom: -100%;
	background-color: rgb(0, 0, 0);
	z-index: -1;
}
.header-bottom-menu-link:hover:before {
	left: 0;
	transition: all 0.5s ease 0s;
}
.header-bottom-menu-link:hover:after {
	bottom: 0;
	transition: all 0.5s ease 0.5s;
}
.header-bottom-menu-link:hover {
	color: #fff;
	transition-delay: 0.75s;
	z-index: 1;
}
/* ----------------- */

.header-logo {
	display: block;
	text-align: center;
	&__text {
		display: block;
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 1em;
		color: #000000;
		letter-spacing: 0.34em;
		font-family: Bebas;
	}

	&__img {
		margin: 14px 0 23px;
	}
}